:root {
     --color1: #061f58;
     --color2: #000;
     --gradient: linear-gradient(-35deg, var(--color1), var(--color2));
}

body {
     /* background-color: #F8F6F4; */
     background-image: var(--gradient);
     color: #fff;
}

#mainNav {
     padding-top: 0;
     padding-bottom: 0;
     background: transparent;
     background: transparent;
     scroll-behavior: smooth;
}

#mainNav.navbar-shrink {
     padding-top: 0;
     padding-bottom: 0;
     background-color: #00113A;
}




/* FOOTER HERE */
section.page-footer {
     width: 100%;
     padding: 70px 8% 50px;
     background-color: #000C27;
     color: var(--light-heading-clr);
}

.page-footer .footer-contents {
     width: 100%;
     display: grid;
     grid-template-columns: 3fr 2fr 2fr;
     grid-gap: 40px;
}

.footer-contents .footer-col {
     display: flex;
     flex-direction: column;
}

.footer-contents .footer-col .footer-col-title {
     margin-bottom: 20px;
}

.footer-col .footer-col-title h3 {
     font-size: 24px;
     color: var(--light-heading-clr);
     text-transform: capitalize;
}

.footer-contents .footer-col .footer-col-desc {
     display: flex;
     flex-direction: column;
}

.footer-col-1 .footer-col-desc p {
     line-height: 1.4;
     color: var(--light-text-clr);
     margin-bottom: 10px;
}

.footer-col-1 .footer-col-desc span {
     color: var(--light-text-clr);
     margin-bottom: 17px;
     display: inline-block;
}

.footer-col-1 .footer-col-desc span:nth-of-type(1) {
     margin-top: 15px;
}

.footer-col-1 .footer-social-media {
     display: flex;
     margin-top: 20px;
}

.footer-col-1 .footer-social-media a {
     text-decoration: none;
     color: var(--light-text-clr);
     margin-right: 10px;
}

.footer-col-1 .footer-social-media a i {
     width: 35px;
     height: 35px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     background-color: var(--primary-clr);
     color: var(--light-heading-clr);
     border: 1px solid transparent;
     border-radius: 5px;
     transition: all 0.3s;
}

.footer-col-1 .footer-social-media a i:hover {
     background-color: transparent;
     border: 1px solid var(--primary-clr);
     color: var(--primary-clr);
}

.footer-col-2 .footer-col-desc a {
     text-decoration: none;
     font-size: 16px;
     color: var(--light-text-clr);
     letter-spacing: 1px;
     margin-bottom: 17px;
     transition: 0.3s;
}

.footer-col-2 .footer-col-desc a:hover {
     color: var(--primary-clr);
}

.footer-col-3 .footer-col-desc p {
     color: var(--light-text-clr);
     line-height: 1.4;
}

.footer-col-3 .footer-col-desc input {
     width: 100%;
     padding: 15px;
     margin: 20px 0px 15px;
     background-color: var(--light-heading-clr);
     color: var(--dark-text-clr);
     border: none;
     border-radius: 25px;
}

.copy-rights {
     width: 100%;
     padding: 30px 8%;
     background-color: var(--dark-bg-clr);
     border-top: 1px solid #333;
}

.copy-rights p {
     color: var(--light-text-clr);
     text-align: center;
}

.copy-rights p b {
     color: var(--primary-clr);
}

/*   === Footer Section Styling End */

/* contact us */
.container {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container .row {
     display: flex;
     justify-content: space-between;
     width: 100%;
     max-width: 1100px;
}

.row section.col {
     display: flex;
     flex-direction: column;
}

.row section.left {
     min-width: 320px;
     margin-right: 60px;
}

section.left .contactTitle h2 {
     position: relative;
     font-size: 28px;
     color: #ddd;
     display: inline-block;
     margin-bottom: 25px;
}

section.left .contactTitle h2::before {
     content: '';
     position: absolute;
     width: 50%;
     height: 1px;
     background-color: #888;
     top: 120%;
     left: 0;
}

section.left .contactTitle h2::after {
     content: '';
     position: absolute;
     width: 25%;
     height: 3px;
     background-color: dodgerblue;
     top: calc(120% - 1px);
     left: 0;
}

section.left .contactTitle p {
     font-size: 17px;
     color: #ccc;
     letter-spacing: 1px;
     line-height: 1.2;
     padding-bottom: 22px;
}

section.left .contactInfo {
     margin-bottom: 16px;
}

.contactInfo .iconGroup {
     display: flex;
     align-items: center;
     margin: 25px 0px;
}

.iconGroup .icon {
     width: 45px;
     height: 45px;
     border: 2px solid dodgerblue;
     border-radius: 50%;
     margin-right: 20px;
     position: relative;
}

.iconGroup .icon i {
     font-size: 20px;
     color: #ddd;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.iconGroup .details span {
     display: block;
     color: #888;
     font-size: 18px;
}

.iconGroup .details span:nth-child(1) {
     text-transform: uppercase;
     color: #ccc;
}

section.left .socialMedia {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-wrap: wrap;
     margin: 22px 0px 20px;
}

.socialMedia a {
     width: 35px;
     height: 35px;
     text-decoration: none;
     text-align: center;
     margin-right: 15px;
     border-radius: 5px;
     background-color: dodgerblue;
     transition: 0.4s;
}

.socialMedia a i {
     color: #ddd;
     font-size: 18px;
     line-height: 35px;
     border: 1px solid transparent;
     transition-delay: 0.4s;
}

.socialMedia a:hover {
     transform: translateY(-5px);
     background-color: #2e2e2e;
     color: dodgerblue;
     border: 1px solid dodgerblue;
}

.socialMedia a:hover i {
     color: dodgerblue;
}

/* Code for the right section (column) */

.row section.right .messageForm {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding-top: 30px;
}

.row section.right .inputGroup {
     margin: 18px 0px;
     position: relative;
}

.messageForm .halfWidth {
     flex-basis: 48%;
}

.messageForm .fullWidth {
     flex-basis: 100%;
}

.messageForm input,
.messageForm textarea {
     width: 100%;
     font-size: 18px;
     padding: 2px 0px;
     background-color: transparent;
     color: #ddd;
     border: none;
     border-bottom: 2px solid #666;
     outline: none;
}

.messageForm textarea {
     resize: none;
     height: 220px;
     display: block;
}

textarea::-webkit-scrollbar {
     width: 5px;
}

textarea::-webkit-scrollbar-track {
     background-color: #1e1e1e;
     border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
     background-color: dodgerblue;
     border-radius: 15px;
}

.inputGroup label {
     position: absolute;
     left: 0;
     bottom: 4px;
     color: #888;
     font-size: 18px;
     transition: 0.4s;
     pointer-events: none;
}

.inputGroup:nth-child(4) label {
     top: 2px;
}

.inputGroup input:focus~label,
.inputGroup textarea:focus~label,
.inputGroup input:valid~label,
.inputGroup textarea:valid~label {
     transform: translateY(-30px);
     font-size: 16px;
}

.inputGroup button {
     padding: 8px 16px;
     font-size: 18px;
     background-color: dodgerblue;
     color: #ddd;
     border: 1px solid transparent;
     border-radius: 25px;
     outline: none;
     cursor: pointer;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
     transition: 0.4s;
}

.inputGroup button:hover {
     background-color: #2e2e2e;
     color: dodgerblue;
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
     border: 1px solid dodgerblue;
}

@media(max-width: 1100px) {
     .messageForm .halfWidth {
          flex-basis: 100%;
     }

     section.col.right {
          padding-top: 40px;
     }

     section.col.left {
          padding-bottom: 0px;
     }
}

@media(max-width: 900px) {
     .container .row {
          flex-wrap: wrap;
     }

     .row section.left,
     .row section.right {
          flex-basis: 100%;
          margin: 0px;
     }

     section.col.right {
          padding-top: 40px;
     }

     section.col.left {
          padding-bottom: 0px;
     }
}

@media (max-width: 576px) {
     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #000103;
     }

     .last-two {
          margin-top: 30px;
          padding: 0px;
     }

     section.col.right {
          padding-top: 40px;
     }

     section.col.left {
          padding-bottom: 0px;
     }

}

@media (max-width: 768px) {
     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #000103;
     }

     .last-two {
          margin-top: 30px;
          padding: 0px;

     }

     section.col.right {
          padding-top: 40px;
     }

     section.col.left {
          padding-bottom: 0px;
     }



}

@media (max-width: 992px) {
     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #000103;
     }

     .last-two {
          margin-top: 30px;
          padding: 0px;
     }

     section.col.right {
          padding-top: 40px;
     }

     section.col.left {
          padding-bottom: 0px;
     }


}
}

/* MEDIA QUERIES */


@media (max-width: 576px) {
     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #000103;
     }

}

@media (max-width: 768px) {
     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #000103;
     }
}

@media (max-width: 992px) {
     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #000103;
     }

}