:root {
     --color1: #061f58;
     --color2: #000;
     --gradient: linear-gradient(-35deg, var(--color1), var(--color2));
}


body {
     /* background-color: #F8F6F4; */
     background-image: var(--gradient);
     color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
     color: #C4A200;
 }

 /*
 li.nav-item {
     position: relative;
 }

 .nav__link:hover {
     color: #fff;
 }

 .nav__link:after {
     content: ' ';
     height: 3px;
     width: 53%;
     background-color: #F55C01;
     position: absolute;
     text-align: left;
     left: 24px;
     right: 0px;
     bottom: 10px;
     opacity: 0;
     transition: all 0.3s;
     pointer-events: none;

 }

 .nav__link:hover:after {
     opacity: 1;
 }
 
 */


header.masthead {
     color: #fff;
     text-align: center;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-position: center center;
     background-size: cover;
     background-image: url('assets/img/10.png');

}

header.masthead .intro-text .intro-lead-in {
     font-size: 40px;
     line-height: 22px;
     margin-bottom: 15px;
     font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
 }

.btn-xl {
     display: inline-block;
     outline: none;
     cursor: pointer;
     font-size: 14px;
     line-height: 1;
     border-radius: 500px;
     transition-property: background-color,border-color,color,box-shadow,filter;
     transition-duration: .3s;
     border: 1px solid transparent;
     letter-spacing: 2px;
     min-width: 160px;
     text-transform: uppercase;
     white-space: normal;
     font-weight: 700;
     text-align: center;
     padding: 16px 14px 18px;
     color: #fff;
     background-color: #15883e;
     height: 48px;
     box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);


}

.btn-xl:hover {
     background-color: #1db954;

}



#mainNav.navbar-shrink {
     background-color: #00113A;
}



.card-body-image {
     color: #000;
     height: 200px;
}

.card {
     --bs-card-spacer-y: 3rem;
     --bs-card-bg: #062A84;
}

.card-title,
.card-body {
     color: white;
}

.card-body {
     border: solid 1px #061f58;
}

.card-header,
.card-footer {
     color: #fff;
     background-color: #061f58;
}

.text-body-secondary {
     --bs-text-opacity: 1;
     color: var(--bs-green) !important;
     font-weight: 150;
 }


.btn {
     background-color: #39C003;
     color: #fff;
     border: 0;
}


.btn:hover {
     background-color: #00B2E2;
     border: #00B2E2;
}

#mainNav .navbar-toggler {
     font-size: 12px;
     right: 0px;
     padding: 13px;
     text-transform: uppercase;
     color: rgb(255, 255, 255);
     border: 0px;
     background-color: #F02900;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
     --bs-text-opacity: 1;
     color: var(--bs-white) !important;
}

.member-4,
.member-5 {
     margin-right: 0%;
}

.bg-dark {
     /* background-color: #343a40 !important; */
}

.bg-dark {
     --bs-bg-opacity: 1;
     /* background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; */
}

section.page-footer{
	width: 100%;
	padding: 70px 8% 50px;
     background-image: linear-gradient(-35, #000,  #000C27);
	background-color: #000C27; 
	color: var(--light-heading-clr);
}
.page-footer .footer-contents{
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr 2fr;
	grid-gap: 40px;
}
.footer-contents .footer-col{
	display: flex;
	flex-direction: column;
}
.footer-contents .footer-col .footer-col-title{
	margin-bottom: 20px;
}
.footer-col .footer-col-title h3{
	font-size: 24px;
	color: var(--light-heading-clr);
	text-transform: capitalize;
}
.footer-contents .footer-col .footer-col-desc{
	display: flex;
	flex-direction: column;
}
.footer-col-1 .footer-col-desc p{
	line-height: 1.4;
	color: var(--light-text-clr);
	margin-bottom: 10px;
}
.footer-col-1 .footer-col-desc span{
	color: var(--light-text-clr);
	margin-bottom: 17px;
	display: inline-block;
}
.footer-col-1 .footer-col-desc span:nth-of-type(1){
	margin-top: 15px;
}
.footer-col-1 .footer-social-media{
	display: flex;
	margin-top: 20px;
}
.footer-col-1 .footer-social-media a{
	text-decoration: none;
	color: var(--light-text-clr);
	margin-right: 10px;
}
.footer-col-1 .footer-social-media a i{
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	background-color: var(--primary-clr);
	color: var(--light-heading-clr);
	border: 1px solid transparent;
	border-radius: 5px;
	transition: all 0.3s;
}
.footer-col-1 .footer-social-media a i:hover{
	background-color: transparent;
	border: 1px solid var(--primary-clr);
	color: var(--primary-clr);
}
.footer-col-2 .footer-col-desc a{
	text-decoration: none;
	font-size: 16px;
	color: var(--light-text-clr);
	letter-spacing: 1px;
	margin-bottom: 17px;
	transition: 0.3s;
}
.footer-col-2 .footer-col-desc a:hover{
	color: var(--primary-clr);
}
.footer-col-3 .footer-col-desc p{
	color: var(--light-text-clr);
	line-height: 1.4;
}
.footer-col-3 .footer-col-desc input{
	width: 100%;
	padding: 15px;
	margin: 20px 0px 15px;
	background-color: var(--light-heading-clr);
	color: var(--dark-text-clr);
	border: none;
	border-radius: 25px;
}
.copy-rights{
	width: 100%;
	padding: 30px 8%;
	background-color: var(--dark-bg-clr);
	border-top: 1px solid #333;
}
.copy-rights p{
	color: var(--light-text-clr);
	text-align: center;
}
.copy-rights p b{
	color: var(--primary-clr);
}
/*   === Footer Section Styling Ends ===   */

section {
     padding: 0px;
 }

@media (max-width: 576px) {
     .masthead {
          background-image: url(assets/img/sample13.png);
          background-size: contain;
          text-align: center;
          height: 750px;
     }

     header.masthead .intro-text .intro-lead-in {
          font-size: 40px;
          line-height: 45px;
          margin-bottom: 1px;
          font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
      }

      header.masthead .intro-text {
          text-align: left;
          padding-top: 165px;
      }
     

     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #00113A;
     }

     .footer-contents .footer-col{
          display: flex;
          flex-wrap: nowrap
          
     }

}

@media (max-width: 768px) {
     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #00113A;
     }


}

@media (max-width: 992px) {
     #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          background-color: #00113A;
     }


}